/*
    Práctica 15: Vídeo de fondo o vídeo background
*/

*{
    box-sizing: border-box;
    margin: 0px;
}

#videoFondo{
    position: absolute;
    min-height: 100%;
    right: 2px;
    top: 90px;
    min-width: 100%;
}

header,footer{
    background-color:
    padding: 20px;
}

header{
    position: fixed;
    width: 100%;
    top: 0px;
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0px;
}

h1{
    text-align: center;
}
